@font-face {
    font-family: 'PixelTiny';
    font-style: normal;
    font-weight: normal;
    src: local('PixelTiny'), url('PixelTiny.ttf');
}

.pokedex {
    width: 430px;
    height: 356px;
    margin: auto;

    filter: drop-shadow(5px 5px 1px black);
}

.pokeImg {
    position: absolute;

    margin-left: 3.7em;
    margin-top: 7.5em;
}

.loading {
    animation: fadein 0.5s;
    margin-top: 7em;
    margin-left: 3.5em
}

.errorScreen {
    margin-left: 2.8em;
    margin-top: 7.6em;
    opacity: 60%;
    width: 115px;
    height: 95px;
}


.scroll {
    position: absolute;
}

.scroll.description {
    overflow-y: scroll;
    height: 60px;
    width: 135px;
    margin-top: 6.45em;
    margin-left: 16.4em;
}

.scroll.name {
    /* overflow-x: scroll; */
    overflow-x: hidden;

    width: 60px;
    height: auto;
    margin-left: 3.82em;
    bottom: 2.6em;
}

.pokedex p {
    color: greenyellow;
    text-shadow: 1px 1px 1px rgb(53, 53, 53);
    font-family: 'PixelTiny';
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;

}

p.pokeName {
    white-space: nowrap;
    color: black;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    font-size: 19.5px;

}

.pokeId {
    text-align: center;
    position: absolute;
    width: 60px;
    right: 1.3em;
    bottom: 1.35em;
}

.pokeType {
    right: 4.5em;
}

.anim_blink {
    color: rgb(208, 255, 255);
    -webkit-filter: drop-shadow(1px 1px 7px);
    filter: drop-shadow(1px 1px 7px);

    position: absolute;
    top: 0.75em;
    left: 1em;
}

.anim_blink.error {
    /* filter: hue-rotate(180deg); */
    filter: hue-rotate(180deg) drop-shadow(1px 1px 7px rgb(255, 176, 176));

    /* filter: sepia(100%); */

}

@media only screen and (min-width: 760px) {
    .pokedex {
        scale: 1.5;
        margin-top: 7em;
    }
}

@media only screen and (max-width: 430px) {
    .pokedex {
        position: absolute;
        scale: 0.75;
        left: -55px;
        margin: auto;
    }
}